.flex {
  display: flex;
  flex-wrap: wrap;
}

#footer {
  text-align: center;
}

body {
  padding-top: 70px;
}

.jumbotron {
  color: rgba(14, 53, 98, 0.8);
  background: #e1eaec;
}

.navbar-inverse {
  background: rgba(48, 83, 123, 0.8);
}

.navbar-inverse .navbar-toggle {
  border-color: rgba(14, 53, 98, 0.8);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background: rgba(14, 53, 98, 0.8);
}

.navbar-inverse .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.6);
}

.navbar-inverse .navbar-brand {
  color: rgba(255, 255, 255, 0.6);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #375982;
}

.scalable {
  overflow: hidden;
}

.scalable iframe {
  padding-top: 50px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/*
.scalable .scalable-content {
  height: 0;
  position: relative;
}

.scalable-16-9 .scalable-content {
  /* Percentage from 9 divided by 16 for ratio of 16:9. */
  padding: 100%;
}*/




*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*body{
  margin-top: 200px;
  font-size: 16px;
  line-height: 1.5;
}*/
